{% extends '/managers/base.html' %}

{% block content %}


<section class="add_item_section1">
    <main>
        <h1>
            New Item
        </h1>
        <div class="add_item_ctnr">
            <form action="" method="POST" class="add_item_form" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <div class="details_ctnr">
                    <h2>
                        DETAILS
                    </h2>
                    {{form.category.label}}
                    <select name="category" class="form-control form-control-sm">
                        {% for choice in form.category.choices %}
                            <option class="form-control" value={{choice}}>
                                {{choice.upper()}}
                            </option>
                        {% endfor %}
                    </select>

                    <div class="c_type_ctnr">
                        {{form.c_type.label}}
                        {{form.c_type(type="text", size="100", placeholder="Wallet, Jersey, Laptop, etc.")}}
                    </div>

                    <div class="brand_ctnr">
                        {{form.brand.label}}
                        {{form.brand(type="text", size="100", placeholder="Gucci, Apple, etc.")}}
                    </div>

                    <div class="model_num_ctnr">
                        {{form.model_num.label}}
                        {{form.model_num(class="form-control", type="text", size="100", placeholder="model #")}}
                    </div>
                    <div id="colors" name="colors" class="form-control">
                        <h5>
                            COLORS
                        </h5>
                        {% for choice in form.colors.choices %}
                            <div class="form-check">
                                <input class="form-check-input" id="choice{{loop.index}}" name="colors" type="checkbox" value={{choice}}>
                                <label class="form-check-label" for="choice{{loop.index}}">
                                    {{choice}}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="size_ctnr">
                        {{form.size.label}}
                        {{form.size(class="form-control", type="text", size="100", placeholder="M S etc.")}}
                    </div>

                    <div class="condition_ctnr">
                        {{form.obj_condition.label}}
                        <div id="obj_condition" name="obj_condition" class="form-control" >
                            {% for choice in form.obj_condition.choices%}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="choice{{loop.index}}" name="obj_condition" value={{choice}}>
                                    <label class="form-check-label" for="choice{{loop.index}}"> {{choice}} </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="name_ctnr">
                        {{form.name.label}}
                        {{form.name(class="form-control", type="text", size="100", placeholder="The name that people would search for")}}
                    </div>                    

                    <div class="orig_value_ctnr">
                        {{form.orig_value.label}}
                        {{form.orig_value(class="form-control", type="text", size="100", placeholder="$")}}
                    </div>    

                    <div class="purchase_price_ctnr">
                        {{form.purchase_price.label}}
                        {{form.purchase_price(class="form-control", type="text", size="100", placeholder="$")}}
                    </div>

                    <div class="selling_price_ctnr">
                        {{form.selling_price.label}}
                        {{form.selling_price(class="form-control", type="text", size="100", placeholder="$")}}
                    </div>


                    <div class="shipping_price_ctnr">
                        {{form.shipping_price.label}}
                        {{form.shipping_price(class="form-control", type="text", size="100", placeholder="$")}}
                    </div>
                    
                    <div class="form-group">
                        {{form.imgfiles(class="btn btn-outline-info")}}
                    </div>

                    <div class="stock_ctnr">
                        {{form.stock.label}}
                        {{form.stock(class="form-control", type="text", size="100", placeholder="Count")}}
                    </div>
    
                        
                    <div class="form-group">
                        {{form.submit_new_item(class="btn btn-outline-info")}}
                    </div>

                </div>
            </form>
        </div>
    </main>
</section>

{% endblock content %}