{% extends '/managers/base.html' %}

{% block content %}

<main>
    <section id="open_orders_section1">
        {% for model in models %}
            <div class="order_ctnr">
                <p class="model_id">
                    <a href="{{ url_for('managers.open_order', model_id=model._id, user_id=current_user._id) }}">
                        Order ID: {{model._id}}
                    </a>
                </p>
                <p class="model_id second_id">
                    Date Placed: {{model.upldate.ctime()[0:10]}}
                </p>
                <a href='{{ url_for('managers.open_order', model_id=model._id, user_id=current_user._id) }}'>
                    <h1>Order</h1>
                </a>
                <div class="order_items_ctnr">
                    <h2>
                        Items in the Order
                    </h2>
                    {% for item in model.items %}
                        <a>
                            <p>
                                {{item.name}}
                            </p>                       
                        </a>
                        <p>
                            Stock: {{item.stock}}
                        </p>     
                    {% endfor %}
                    <p class="order_total2">
                        Order Total: ${{model.items_totals['selling_price']}}
                    </p>
                    <hr>
                    {% if model.is_fulfilled == 0 %}
                        <button class="btn_filled" onclick=redir("{{ url_for('managers.open_order', model_id=model._id, user_id=current_user._id) }}")> Fulfill This Order </button>
                    {% else %}
                        <h3 class="order_fulfilled">
                            Order Fulfilled
                        </h3>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
</main>

{% endblock %}
