//SECTION: index_section1
#index_section1{
    background-color: $primary2;
    height: 3em;
    padding: .8em .5em;
    a{
        text-decoration: none;
    }
    .slider_heading_ctnr{
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
        justify-content: flex-end;
        align-content: baseline;
        p{
            color: #fff;
            font-size: .8rem;
            font-weight: 600;            
            text-align: center;
        }   
    }
}

#ann_slider{
    background-color: $primary4;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
    height: 10em;
    justify-content: center;
    margin: 1em;
    padding: 1em;
    h5{
        font-size: 1rem;
        font-weight: 700;
        text-decoration: underline;
        margin: .5em;
    }
    img{
        border: 1px solid transparent;
        border-radius: 20px;
    }
    p{
        font-size: .8rem;
        font-weight: 600;
    }
    .pricing_ctnr{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding: 1em;
        p{
            text-align: center;
            font-weight: 600;
        }
    }
    .sale_end{
        color: $primary3;
        font-size: .6rem;
    }
    .selling_price{
        color: red;
    }
    .discount{
        color: $primary2;
    }
}

#maxim_svg_ctnr, #minim_svg_ctnr{
    width: 2em;
    div{
        padding: .5em;
    }
    svg{
        width: 80%;
    }
}


//SECTION: index_section2
#index_section2{
    background-color: $primary3;
    height: 25em;
    padding: .5em;
    a{
        text-decoration: none;
        color: #000;
    }

}


//SECTION: index_section3
#index_section3{
    a{
        text-decoration: none;
        color: #000;
    }
}

.items_flex{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    justify-content: space-evenly;
    width: 100%;
}

.item_flexy_ctnr{
    background-color: $primary4;
    border-radius: 10px;
    height: 18em;
    margin: 1em;
    padding: 1em;
    width: 8em;    

    align-content: baseline;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    justify-content: center;
    img{
        border: 1px solid transparent;
        border-radius: 10px;
        width: 90%;
    }
    p{
        font-size: .8rem;
        font-weight: 600;
        text-align: left;
    }
}



//SECTION: index_section4
#index_section4{
    background-color: $primary1;
    padding-top: .2em;
    padding-bottom: .5em;
    h2{
        color: #fff !important;
    }
    
}

//SECTION: index_section5
#index_section5{  
    height: 20em;
    background-color: $primary4;
    display: flex;
    flex-flow: row nowrap;
    div{
        width: 100%;
    }
}

//SECTION: index_section6
#index_section6{
    height: 20em;
    background-color: $primary2;
    padding: 2em;
    h3{
        color: #fff;
        letter-spacing: 3px;
        font-weight: 900;
        font-size: 1.5rem;
        padding-top: 5em;
        text-align: center;
    }
}


//SECTION: VARIOUS RULESETS ONLY ON INDEX


#main_item_ctnr{
    background-color: $primary4;
    border-radius: 10px;
    display: block;
    margin: 1em auto;
    padding: .5em;
    height: 80%;
    width: 80%;
    p{
        font-weight: 600;
    }
}


