.badge_ctnr {
  column-gap: 2em;
  display: grid;
  grid-template-rows: 4em 4em;
  grid-template-columns: 8em 8em;
  justify-content: center;
  margin: 0 auto;
  margin-top: 5em;
  padding: 0;
  row-gap: 2em;
  width: 100%; }

.btn_filled {
  border-radius: 10px;
  font-size: .7rem;
  font-weight: 500;
  padding: .5em 2em;
  color: #fff;
  background-color: #10316B;
  border: 1px solid #10316B; }

.btn_empty {
  border-radius: 10px;
  font-size: .7rem;
  font-weight: 500;
  padding: .5em 2em;
  color: #10316B;
  background-color: #fff;
  border: 2px solid #10316B; }

.circ {
  background-color: #fff;
  border-radius: 100px;
  width: 2.8em !important;
  position: absolute;
  right: 12px;
  bottom: 5px;
  border: 1px solid transparent;
  height: 2.8em; }

.filter_ctnr {
  display: none; }

.h2_banner {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px; }

.invisible {
  display: none; }

.items_flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%; }
  .items_flex div {
    background-color: #DEE1EC;
    border-radius: 10px;
    height: 10em;
    margin: 1em auto;
    padding: .5em;
    width: 8em; }

.item_badge_blue {
  border-radius: 10px;
  position: relative;
  padding: .5em;
  background-color: #10316B; }
  .item_badge_blue p {
    font-size: .6rem; }

.item_badge_green {
  border-radius: 10px;
  position: relative;
  padding: .5em;
  background-color: #0B8457; }
  .item_badge_green p {
    font-size: .6rem; }

.item_badge_yellow {
  background-color: #EAC100;
  border-radius: 10px;
  position: relative;
  padding: .5em; }
  .item_badge_yellow p {
    font-size: .6rem; }

.item_flexy_ctnr {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .item_flexy_ctnr img {
    border-radius: 10px;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: .2em; }
  .item_flexy_ctnr p {
    font-size: .8rem;
    font-weight: 500;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%; }

* {
  box-sizing: border-box; }

body, html {
  height: calc(100% - 2em);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

main > section {
  padding: .5em; }

main {
  padding: .50em;
  margin: .50em; }

h1 {
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 0; }

p {
  margin-top: 0; }

p:last-of-type {
  margin-bottom: 0;
  line-height: 1.5; }

#base_aside_section {
  background-color: #DEE1EC;
  border: 1px solid transparent;
  height: 3em;
  margin: 0;
  padding: 0;
  width: 100%; }
  #base_aside_section a {
    color: #000;
    text-decoration: none; }
  #base_aside_section ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around; }

#index_section1 {
  background-color: #0B8457;
  height: 2em; }
  #index_section1 div {
    gap: 2em;
    padding: 0 2em;
    position: relative;
    right: 0;
    top: 0; }
  #index_section1 p {
    align-self: center;
    color: #fff;
    padding: .2em;
    text-align: center; }
  #index_section1 img {
    margin: .3em;
    position: absolute;
    right: 0;
    top: 0; }

#index_section2 {
  background-color: #EAC100;
  height: 25em;
  padding: .5em; }

#index_section4 {
  background-color: #10316B;
  padding-top: .2em;
  padding-bottom: .5em; }
  #index_section4 h2 {
    color: #fff !important; }

#index_section5 {
  height: 20em;
  background-color: #DEE1EC;
  display: flex;
  flex-flow: row nowrap; }
  #index_section5 div {
    width: 100%; }

#index_section6 {
  height: 20em;
  background-color: #0B8457;
  padding: 2em; }
  #index_section6 h3 {
    color: #fff;
    letter-spacing: 3px;
    font-weight: 900;
    font-size: 1.5rem;
    padding-top: 5em;
    text-align: center; }

#ann_slider {
  background-color: #DEE1EC;
  border-radius: 10px;
  height: 10em;
  margin-top: 1em; }

#main_item_ctnr {
  background-color: #DEE1EC;
  border-radius: 10px;
  display: block;
  margin: 1em auto;
  padding: .5em;
  height: 80%;
  width: 80%; }

#maxim_svg_ctnr, #minim_svg_ctnr {
  position: absolute !important;
  width: 6em !important;
  right: -1em !important; }
  #maxim_svg_ctnr svg, #minim_svg_ctnr svg {
    width: 100%; }
