* {
  box-sizing: border-box; }

body, html {
  height: calc(100% - 2em);
  margin: 0;
  font-family: Arial, Helvetica, sans-serif; }

main > section {
  padding: .5em; }

main {
  padding: .50em;
  margin: .50em; }

h1 {
  font-weight: 300;
  font-size: 1.7rem;
  margin-top: 0; }

p {
  margin-top: 0; }

p:last-of-type {
  margin-bottom: 0;
  line-height: 1.5; }

#base_aside_section {
  background-color: #DEE1EC;
  border: 1px solid transparent;
  height: 3em;
  margin: 0;
  padding: 0;
  width: 100%; }
  #base_aside_section a {
    color: #000;
    text-decoration: none; }
  #base_aside_section ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: space-around; }

#index_section1 {
  background-color: #0B8457;
  height: 2em; }
  #index_section1 div:nth-of-type(1) {
    gap: 2em;
    padding: 0 2em;
    position: relative;
    right: 0;
    top: 0; }
  #index_section1 p {
    color: #fff;
    text-align: center;
    align-self: center; }
  #index_section1 img {
    position: absolute;
    right: 0;
    top: 0; }
