.btn_filled{
    @include cta_btn;
    color: #fff;
    background-color: $primary1;
    border: 1px solid $primary1;
}

.fw_btn{
    width: 80%;
    font-size: 1.5rem;
    max-width: 500px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 2em auto;
}

.btn_empty{
    @include cta_btn;
    color: $primary1;
    background-color: #fff;
    border: 2px solid $primary1;
}

.color_circ{
    border-radius: 100px;
    width: 5em;
    height: 5em;
    margin: .5em;
    padding: .5em;
}

.colors_div{
    margin-top: 2em;
    p{
        font-size: 1rem;
        text-align: center;
    }
}

.color_circs_ctnr{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    width: 100%;
}

.white_circ_ctnr{
    background-color: #f1f1f1;
    width: 5.4em;
    position: relative;
    padding: 1em;
    height: 5.4em;
    div{
        position: absolute;
        left: 0;
        top: 3px;
        right: 0;
        margin: 0 auto;
    }
}


.h2_banner{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}


.invisible{
    display: none;
}



.item_top_flex{
    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    gap:1em;
}

.item_imgs_ctnr{
    border-radius: 20px;

}

.model_pricing_ctnr{
    border-radius: 10px;
    margin: 0;
    padding: 0;
}

.shipping{
    color: $primary3;
    font-weight: 500;
    font-size: .8rem;
}


.flex_item_price{
    color: $primary2;
    font-size: 1.3rem !important;
    font-weight: 600;
}

.flex_item_shipping{
    color: $primary3;
}

.flexy_cta{
    font-size: 1.2rem;
}


.model_id{
    color: #000;
    opacity: .2;
    font-size: .5rem !important
}

.model_specs_ctnr{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
    p{
        font-weight: 600;
        margin-top: 1em;

        font-size: 1rem;
    }
}

.remove_button{
    border-radius: 10px;
    border: solid 1px transparent;
    padding: .3em .6em;
    font-size: .7rem;
    font-weight: 600;
    letter-spacing: 1.2px;
    color: #fff;
    background-color:red;
}

.sell_divs_ctnr{
    width: 100%;
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-evenly;
    max-width: 630px;
    margin-bottom: 2em;
    p{
        font-size: .8rem;
    }
    hr{
        margin-bottom: 2em;
    }
}

.sell_img_div{
    width: 25%;
    img{
        width: 100%;
    }
}

.sell_head{
    font-weight: 600;
    font-size: .7rem;
}