@mixin cta_btn{
    border-radius: 10px;
    font-size: .7rem;
    font-weight: 500;
    padding: .5em 2em;
}

@mixin item_badge {
    border-radius: 10px;
    position: relative;
    padding: 1.5em;
    height: 6em;
    width: 8em;
    p{
        font-size: .6rem;
        color: #fff;
    }
}

@mixin shadow {
    box-shadow: 1px 5px 8px 1px #c8c8c8;
}