//SECTION: COLORS
$primary1: #10316B;
$primary2: #0B8457;
$primary3: #EAC100;
$primary4: #DEE1EC;


//SECTION: BREAKPOINT FOR MEDIA QUERIES
$tablet_bp: 767px;
$desktop_bp: 1919px;
$desktop_4k_bp: 3839px;
