//SECTION: COLORS
$primary1: #10316B;
$primary2: #0B8457;
$primary3: #EAC100;
$primary4: #DEE1EC;


//SECTION: BREAKPOINT FOR MEDIA QUERIES
$tablet_bp: 768px;
$desktop_bp: 1024px;
$desktoplg_bp: 1200px;
