{% extends 'base.html' %}


{% block content %}

<section>
<h1 class="display-4"> Inventory </h1>

<div class="container">
    <h5>Stats</h5>
    <p>{{models|length}} Items</p>
    <p> Uploaded </p>
    <p> Sold </p>

</div>

<div class="container p-2">
    <h5>Categories</h5>
    <div class="btn-group">
        {% for CATEGORY in CATEGORIES %}
            <button class="btn btn-primary" onclick="CategoryFilter('{{CATEGORY}}')" > {{CATEGORY}} </button>
        {% endfor %}
    </div>
</div>

<div id="item-cards" class="container">
    {% for model in models %}
    <div class="card p-1 m-3 {{model.category}}" >
        <div class="card-body">
            <a href="{{ url_for('main.inv_item', item_id=model._id) }}" class="nav-link m-1">
                <h3><u>{{model.name}}</u></h3>
                <small class="text-muted"> ID: {{ model._id }}</small>
            </a>
            <p class="text-muted"> PURCHASED ON: {{model.upldate}} </p>
            <p class="text-muted"> SELLING FOR: ${{model.selling_price}}</p>
            <div class="container p-2" stye="right: 0em;">
                {% for imgfile in model.imgfiles %}
                    <img class="img-fluid" src="{{ url_for('static', filename='images/item_images/'+model._id+'/thumbnails/'+imgfile)}}">
                {% endfor %}  
            </div>


            {% if model.sold == "True" %}
            <a href="{{ url_for('main.sell_item', item_id=model._id) }}" class="btn btn-danger disabled" role="button" aria-pressed="true">
                SOLD
            </a>
            {% else %}
            <a href="{{ url_for('main.sell_item', item_id=model._id) }}" class="btn btn-danger" role="button" aria-pressed="true">
                SELL
            </a>
            {% endif %}

            {% if model.uploaded == "True" %}
            <a href="{{ url_for('main.sell_item', item_id=model._id) }}" class="btn btn-success disabled" role="button" aria-pressed="true">
                UPLOADED
            </a>

            {% for site in model.uploaded_to %}
            {{site}}
            {% endfor %}

            <p>Uploaded To:{{model.uploaded_to}}</p>
            {% else %}
            <a href="{{ url_for('main.sell_item', item_id=model._id) }}" class="btn btn-success" role="button" aria-pressed="true">
                NOT UPLOADED
            </a>
            {% endif %}
        </div>

    </div>

    {% endfor %}
</div>
</section>

<script src="{{ url_for('static', filename='js/filter.js')}}"></script>
{% endblock %}