{% extends 'base_manager.html' %}

{% block content %}
    <main>
        <section id="inv_item_m_section1">
            <main>
                <h1>
                    Edit Item: {{model.name}}
                </h1>
                <p class="model_id">
                    Item ID: {{model._id}}
                </p>
                <div class="edit_item_ctnr">
                    <form action="" method="POST" class="add_item_form" enctype="multipart/form-data">
                        {{form.hidden_tag()}}
                        <div class="edit_details_ctnr">
                            <h2>
                                DETAILS
                            </h2>
                            <div>
                                {{form.category.label}}
                                <select name="category" class="form-control form-control-sm">
                                    {% for choice in form.category.choices %}
                                        {% if choice==model.category%}
                                            <option class="form-control" value={{choice}} selected>
                                                {{choice.upper()}}
                                            </option>
                                        {% else %}
                                            <option class="form-control" value={{choice}}>
                                                {{choice.upper()}}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="c_type_ctnr">
                                {{form.c_type.label}}
                                {{form.c_type(type="text",  value=model.c_type)}}
                            </div>
        
                            <div class="brand_ctnr">
                                {{form.brand.label}}
                                {{form.brand(type="text", value=model.brand)}}
                            </div>
        
                            <div class="model_num_ctnr">
                                {{form.model_num.label}}
                                {{form.model_num(type="text", value=model.model_num)}}
                            </div>
                            <div id="colors" name="colors" class="colors_ctnr">
                                <label>
                                    COLORS
                                </label>
                                <div class="colors_choice_ctnr">
                                    {% for choice in form.colors.choices %}
                                        <div class="form-check">
                                            {% if  choice in model.colors%}
                                                <input class="form-check-input" id="choice{{loop.index}}" name="colors" type="checkbox" value={{choice}} checked>
                                            {% else %}
                                                <input class="form-check-input" id="choice{{loop.index}}" name="colors" type="checkbox" value={{choice}}>
                                            {% endif %}
                                            <label class="form-check-label" for="choice{{loop.index}}">
                                                {{choice}}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
        
                            <div class="size_ctnr">
                                {{form.size.label}}
                                {{form.size(class="form-control", type="text", value=model.size)}}
                            </div>
        
                            <div class="condition_ctnr">
                                {{form.obj_condition.label}}
                                <div id="obj_condition" name="obj_condition" class="form-control" >
                                    {% for choice in form.obj_condition.choices%}
                                        <div class="form-check form-check-inline">
                                            {% if model.obj_condition in form.obj_condition.choices%}
                                                <input class="form-check-input" type="radio" id="choice{{loop.index}}" name="obj_condition" value={{choice}} checked>
                                            {% else %}
                                                <input class="form-check-input" type="radio" id="choice{{loop.index}}" name="obj_condition" value={{choice}}>
                                            {% endif %}
                                            <label class="form-check-label" for="choice{{loop.index}}"> {{choice}} </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            <div class="name_ctnr">
                                {{form.name.label}}
                                {{form.name(class="form-control", type="text", size=model.name|length, value=model.name)}}
                            </div>                    
        
                            <div class="orig_value_ctnr">
                                {{form.orig_value.label}}
                                {{form.orig_value(class="form-control", type="text", size="10", value=model.orig_value, placeholder="$")}}
                            </div>    
        
                            <div class="purchase_price_ctnr">
                                {{form.purchase_price.label}}
                                {{form.purchase_price(class="form-control", type="text", size="10", value=model.purchase_price, placeholder="$")}}
                            </div>
        
                            <div class="selling_price_ctnr">
                                {{form.selling_price.label}}
                                {{form.selling_price(class="form-control", type="text", size="10", value=model.selling_price, placeholder="$")}}
                            </div>
        
        
                            <div class="shipping_price_ctnr">
                                {{form.shipping_price.label}}
                                {{form.shipping_price(class="form-control", type="text", size="10", value=model.shipping_price, placeholder="$")}}
                            </div>
                            

                            <div class="img_choice">
                                <p>
                                    Change the Image Files
                                </p>
                                <div>
                                    {{form.imgfiles(class="btn btn-outline-info")}}
                                </div>
    
                                <p>
                                    Curent Set of Images
                                </p>
                                <div class="img_ctnr">
                                    {% for i in range(model.imgfiles|length) %}
                                        <img src="{{ url_for('static', filename='images/item_images/'+model._id+'/thumbnails/'+model.imgfiles[i])}}" alt="shoes">
                                    {% endfor %}
                                </div>
                            </div>
        
                            <div class="stock_ctnr">
                                {{form.stock.label}}
                                {{form.stock(class="form-control", type="text", size="10", value=model.stock, placeholder="Count")}}
                            </div>
            
                            <div class="">
                                {{form.submit_new_item(class="btn_filled")}}
                            </div>
        
                        </div>
                    </form>
                </div>
            </section>
        </main>
{% endblock %}
