<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- CSS -->
        {% assets "main_scss" %}
            <link rel="stylesheet" href="{{ ASSET_URL}}">
        {% endassets %}


        {% if title %}
        <title> Broward County Reseller - {{title}} </title>
        {% else %}
        <title> Broward County Reseller </title>
        {% endif %} 
</head>
    
<body>
<!-- #//SECTION: base_aside_section -->
    <section id="base_aside_section">
        <aside>
            <nav>              
                <ul>
                    <li>
                        <a href="{{url_for('main.index')}}">
                            HOME
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('users.cart')}}">
                            CART
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </section>
<!-- #//SECTION: flashes -->

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<!-- #//SECTION: block content -->
{% block content %}{% endblock %}


{% assets "main_js" %}
    <script type="text/javascript" src="{{ ASSET_URL}}"></script>
{% endassets %}
    </body>
    </html>