<section>
    <h1 class="display-4"> Inventory </h1>
    <div class="container">
        <div class="container">
            <h1>{{model.name}}</h1>
            <small class="text-muted"> ID: {{ model._id }}</small>
            <p class="text-muted">DETAILS: {{model.details}}</p>
            <div class="container" stye="right: 0em;">
                {% for imgfile in model.imgfiles %}
                    <img class="img-fluid" src="{{ url_for('static', filename='images/item_images/'+model._id+'/'+imgfile)}}">
                {% endfor %}  
            </div>
        </div>
    
        <div class="container">
            <form action="" method="POST" class="form-group" enctype="multipart/form-data">
                {{form.hidden_tag()}}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4"> Update Item </legend>
                    
                    <div class="form-group">
                        {{form.category.label}}
                        <select name="category" class="form-control form-control-sm">
                            {% for choice in form.category.choices %}
                                {% if choice == model.category %}
                                    <option class="form-control" value={{choice}} selected>{{choice.upper()}}</option>
                                {% else %}
                                    <option class="form-control" value={{choice}}>{{choice.upper()}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
    
                    
                    <div class="form-group">
                        {{form.c_type.label}}
                        {{form.c_type(class="form-control", type="text", size="100", value=model.c_type)}}
                    </div>
        
                    
                    <div class="form-group">
                        {{form.brand.label}}
                        {{form.brand(class="form-control", type="text", size="100", value=model.brand)}}
                    </div>
                    
                    <div class="form-group">
                        {{form.model_num.label}}
                        {{form.model_num(class="form-control", type="text", size="100", value=model.model_num)}}
                    </div>
        
                    <div class="form-group">
                        {{form.colors.label}}
                        <div id="colors" name="colors" class="form-control">
                            {% for choice in form.colors.choices %}
                                <div class="form-check">
                                        {% if choice in model.colors %}
                                            <input class="form-check-input" id="choice{{loop.index}}" name="colors" type="checkbox" value={{choice}} checked>
                                        {% else %}
                                            <input class="form-check-input" id="choice{{loop.index}}" name="colors" type="checkbox" value={{choice}}>
                                        {% endif %}
                                    <label class="form-check-label" for="choice{{loop.index}}"> {{choice}} </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
        
                    <div class="form-group">
                        {{form.size.label}}
                        {{form.size(class="form-control", type="text", size="100", value=model.size)}}
                    </div>
        
                    <div class="form-group">
                        {{form.obj_condition.label}}
                        <div id="obj_condition" name="obj_condition" class="form-control">
                            {% for choice in form.obj_condition.choices %}
                                <div class="form-check form-check-inline">
                                    {% if model.obj_condition==choice %}
                                        <input class="form-check-input" type="radio" id="choice{{loop.index}}" name="obj_condition" value={{choice}} checked>
                                    {%  else %}
                                        <input class="form-check-input" type="radio" id="choice{{loop.index}}" name="obj_condition" value={{choice}}>
                                    {% endif %}
                                    <label class="form-check-label" for="choice{{loop.index}}"> {{choice}} </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        {{form.name.label}}
                        {{form.name(class="form-control", type="text", size="100", value=model.name)}}
                    </div>
        
        
                    <div class="form-group">
                        {{form.orig_value.label}}
                        {{form.orig_value(class="form-control", type="text", size="100", value=model.orig_value)}}
                    </div>
        
                    <div class="form-group">
                        {{form.purchase_price.label}}
                        {{form.purchase_price(class="form-control", type="text", size="100", value=model.purchase_price)}}
                    </div>
        
                    <div class="form-group">
                        {{form.selling_price.label}}
                        {{form.selling_price(class="form-control", type="text", size="100", value=model.selling_price)}}
                    </div>
        
                    <div class="form-group">
                        {{form.shipping_price.label}}
                        {{form.shipping_price(class="form-control", type="text", size="100", value=model.shipping_price)}}
                    </div>
        
        
                    <div class="form-group">
                        {{form.uploaded_to.label}}
                        <div id="uploaded_to" name="uploaded_to" class="form-control">
                            {% for choice in form.uploaded_to.choices %}
                                <div class="form-check form-check-inline">
                                    {% if choice in model.uploaded_to %}
                                        <input class="form-check-input" id="choice{{loop.index}}" name="uploaded_to" type="checkbox" value={{choice}} checked>
                                    {% else %}
                                        <input class="form-check-input" id="choice{{loop.index}}" name="uploaded_to" type="checkbox" value={{choice}}>
                                    {% endif %}
                                    <label class="form-check-label" for="choice{{loop.index}}"> {{choice}} </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
        
                    <div class="form-group">
                        {{form.imgfiles(class="btn btn-outline-info")}}
                    </div>
        
                </fieldset>
                <div class="form-group">
                    {{form.submit_update_item(class="btn btn-outline-info")}}
                </div>
        
            </form>
        </div>
    
    </div>
    </section>