{% extends '/users/base.html' %}

{% block content %}

<main>
    <section id="checkout_section1">
        <h1>
            CHECKOUT
            <span class="primary1_text">
                {{order_summary.item_count}}
            </span>
            Items
        </h1>
        <div class="checkout_form_ctnr">

            <form action="" method="POST">
                <div class="shipping">
                    
                </div>
                <div class="payment">
                    
                </div>
                <div class="review">
                    
                </div>
                
                <div class="order_summary">
                    <h2>
                        ORDER SUMMARY
                    </h2>
                    <div>
                        <p>
                            SHIPPING: ${{order_summary.shipping_total}}
                        </p>
                    </div>
                    <div>
                        <p>
                            MERCH: ${{order_summary.retail_total}}
                        </p>
                    </div>
                    <div class="item_count">
                        <p>
                            ITEMS {{order_summary.item_count}}
                        </p>
                    </div>
                </div>
                {{checkout_form.submit_order (class_='btn_filled fw_btn')}}
            </form>
        </div>
    </section>
</main>

{% endblock %}