{% extends '/users/base.html' %}

{% block content %}

<!-- //SECTION: inv_item_section1 -->
<main>
    <section id="inv_item_section1" >
        <div class="item_top_flex">
            {% for img_src in model.imgfiles  %}
                <div class="item_imgs_ctnr">
                    <img id="item_img_{{loop.index}}" class="invisible" src="{{ url_for('static', filename='images/item_images/'+model._id+'/'+img_src)}}">
                    {%if loop.index == 1%}
                        <img id="item_img_{{loop.index}}_thumb" class="" src="{{ url_for('static', filename='images/item_images/'+model._id+'/thumbnails/'+img_src)}}">
                    {% else %}
                        <img id="item_img_{{loop.index}}_thumb" class="invisible" src="{{ url_for('static', filename='images/item_images/'+model._id+'/thumbnails/'+img_src)}}">
                    {%endif%}
                </div>
            {% endfor %}
    
            <div class="model_pricing_ctnr">
                <p class="pricing">
                    ${{ model.selling_price }}
                </p>
                <p class="shipping">
                    Shipping
                    ${{ model.shipping_price }}
                </p>
            </div>
        </div>


        <div class="model_specs_ctnr">
            <p>  
                {{ model.name }}
            </p>
            <p> 
                {{ model.brand|upper }} 
            </p>
            <p>  
                {{ model.size }} 
            </p>

            <div class="colors_div">
                <p>COLORS</p>
                <div class="color_circs_ctnr">
                    {% for color in model.colors %}
                        {%if color == "white"%}
                            <div class='color_circ white_circ_ctnr'>
                                <div class="color_circ" style="background-color:{{color}};"> </div>
                            </div>
                        {% else %}   
                            <div class="color_circ" style="background-color:{{color}};outline:solid 1px transparent;"></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <form id="atc_form"  enctype="multipart/form-data">
            {{form.hidden_tag()}}
            {{form.submit_atc(class="btn_filled fw_btn")}}
            {{form.item_id(class="invisible", value=model._id)}}
            <p id="model_id" class="invisible">{{model._id}}</p>
        </form>

    </section>
</main>


{% endblock %}