{% extends 'base.html' %}


{% block content %}

<section>
    <h1 class="display-4"> Money Stuff </h1>
    <div class="container">
        <p> Sales Count:  </p>
        <p> </p>
        <p> Inventory Cost: </p>
        <p> Revenue:  </p>
    </div>
</section>


<section>
    <h1 class="display-4"> Sales </h1>
    <div class="container">
        {%for model in models%}
        <div class="container">
            <a href="{{ url_for('main.inv_item', item_id=model._id) }}" class="nav-link">
                <h5> {{item_models[loop.index -1].name}}</h5>
            </a>
                <p> Purchase Date: {{item_models[loop.index -1].upldate}} </p>
                <p> Sell Date: {{model.upldate}} </p>
                <p> Website Sold: {{model.site_sold}} </p>
                <fieldset>
                <legend class="border-bottom mb-4">$$$</legend>
                <p> Sold For: {{model.selling_price}} </p>
                <p> Shipping Cost: {{model.shipping_price}} </p>
                <p> Revenue:  </p>
                </fieldset>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}